{% extends "read_book.html" %}

{% block section %}

{% if pages %}
	{% for page in pages %}
		{% if forloop.counter = num %}
			{% for content in page %}
			{% if 'http:' in content %}
				<img src={{content}}/>
			{%  else %}
				<p>{{ content }}</p>
			{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}
	<p>Page {{ num }}</p>
{% else %}
	<p>This book has no pages!</p>
{% endif %}

{% endblock %}