{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
{% if errors %}
	{% for error in errors %}
		<p style="color: red;">{{ error }}</p>
	{% endfor %}
{% endif %}
{% if data %}
	<p>{{ data }}</p>
	{% else %}
	<p>No data available.</p>
{% endif %}
{% endblock %}