{% extends "base.html" %}

{% block title %}{{ book.book_title }}{% endblock %}

{% block content %}
<h2>{{ book.book_title }}</h2>
<p><a href="../../search/">Search for a book</a> | <a href="../../upload/">Upload a book</a> | <a href="../../all/">View all books</a></p>
<hr />
{% block section %}

{% endblock %}
<div id="pagenav">
{% if errors %}
	{% for error in errors %}
		<p style="color: red; margin-top:0">{{ error }}</p>
	{% endfor %}
{% endif %}
{% if num > 1 %}
<a href="?pagenum={{ prev }}">Previous</a>
{% endif %}
<form action="" method="get">
	<input type="text" name="pagenum" placeholder="Page Number">
	<input type="submit" value="Go">
</form>
{% if num < plength %}
<a href="?pagenum={{ nxt }}">Next</a>
{% endif %}
</div>
{% endblock %}