{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<p><a href="../search/">Search for a book</a> | <a href="../upload/">Upload a book</a> | <a href="../all/">View all books</a></p>
<hr />
{% if errors %}
	{% for error in errors %}
		<p style="color: red;">{{ error }}</p>
	{% endfor %}
{% endif %}
<form action="" method="get">
	<input type="text" name="q">
	<input type="submit" value="Search">
</form>
{% endblock %}